.gameKeys{
    font-size:20px;
    font-family: chewy;
    color: #FDC454;
    background: rgba(0, 0, 0, 0.5);
    margin-top:200px;
    margin-left:auto;
    margin-right: auto;
    text-align: left;
    width: 60%;
}