.gameKeys{
    font-size:20px;
    font-family: chewy;
    color: #FDC454;
    background: rgba(0, 0, 0, 0.5);
    margin-left:auto;
    margin-right: auto;
    text-align: left;
    margin-top: 100px;
}

.HUDLeftColumn{
    float:left;
    width:30%;
    position:relative;
}
.HUDMain{
    float:left;
    width:70%;
}
.HUDMoney{
    margin-left:20px;
    margin-top:20px;
    background-size:cover;
    background-image: url(../img/HUDMoney.png);
    width:171px;
    height:72px;
    font-family:chewy;
    font-size:20px;
    color: white;
    position:relative;
}
.HUDMoneyContent{
    position:absolute;
    left:65px;
    top:20px;
}
.HUDXP{
    margin-left:13px;
    background-size:cover;
    background-image: url(../img/HUDXpWood.png);
    width:272px;
    height:75px;
    font-family:chewy;
    font-size:20px;
    color: white;
    position:relative;
}
.HUDXPContent{
    position:absolute;
    left:75px;
    top:20px;    
}
.HUDWeapon{
    margin-left:20px;
    font-family:chewy;
    font-size:20px;
    color:#FDC454;
    width:100px;   
}
.HUDWeaponImage{
    background-color: black;
    width:100px;
    height:100px;
    background-image: url(../img/I4.png);
    background-size:cover;      
}
.HUDWeaponAmmo{
    width:100px;
    text-align:center;
    background: rgba(0, 0, 0, 0.5);
    padding-top:5px;
}
.HUDSpell{
    margin-left:20px;
    background-color: black;
    width:100px;
    height:40px;
    background-image: url(../img/PowerIce.png);
    background-size:cover;
}

.HUDMap{
    background-image:url(../img/HUDFullMap.png);
    background-color: black;
    width:250px;
    height:175px;
    position: absolute;
    background-position-x: '358px';
    background-position-y: '161px';
}

.MapJoeIcon{
    left:105px;
    top:72px;
    position:absolute;
}

.HUDMissionContainer{
    float:left;
    width:70%;
}
.HUDMissionHighlight{
    width: 95%;
    text-align:center;
    background: rgba(0, 0, 0, 0.5);
    margin:auto;
    font-family: chewy;
    font-size:45px;
    color:#FDC454;
    padding-top:10px;
    padding-bottom: 10px;
}
.HUDStatusBar{
    width:30%;
    float:right;
}
.HUDHealthContainer{
    margin-top:20px;
    width:260px;
    height:65px;
    background-size:cover;
    background-image: url(../img/HUDHealth.png);
    position:relative;
}
.HUDPowerContainer{
    margin-top:10px;
    width:260px;
    height:65px;
    background-size:cover;
    background-image: url(../img/HUDEnergy.png);   
    position:relative; 
}
.HUDPowerBar{
    background-image: url(../img/HUDBgpower.png);
    background-color: black;
    position:absolute;
    left:65px;
    top:16px;
    width:170px;
    height:27px;
}
.HUDHealthBar{
    background-image: url(../img/HUDBghealth.png);
    background-color: black;
    position:absolute;
    left:65px;
    top:16px;
    width:170px;
    height:27px;
}
.HUDCarContainer{
    margin-top:20px;
    width:260px;
    height:65px;
    background-size:cover;
    background-image: url(../img/HUDCarHealth.png);
    position:relative;
}
.HUDCarBar{
    background-image: url(../img/HUDBghealth.png);
    background-color: black;
    position:absolute;
    left:65px;
    top:20px;
    width:170px;
    height:27px;    
}
.HUDArmorContainer{
    width:260px;
    height:81px;
    background-size:cover;
    background-image: url(../img/HUDCarArmor.png);   
    position:relative; 
}
.HUDArmorBar{
    background-image: url(../img/HUDBgarmor.png);
    background-color: black;
    position:absolute;
    left:65px;
    top:24px;
    width:170px;
    height:27px;    
}